* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --banner-background: #1e88e5;
  --banner-background-darker: #1976d2;
  --background-gray: #212121;
  --background-gray-lighter: #424242;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}