.initial-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: var(--background-gray);
}

.initial-playlist {
    height: 80px;
    background-color: var(--background-gray-lighter);
    display: flex;
    align-items: center;
    justify-content: center;
}

.initial-playlist-icon {
    margin: 0 15px;
    cursor: pointer;
}

.initial-playlist-volume {
    width: 100px;
    height: 5px;
    background-color: var(--banner-background);
    border-radius: 5px;
    position: absolute;
    right: 45px;
}

.initial-playlist-volume-ball {
    width: 7px;
    height: 7px;
    background-color: white;
    position: absolute;
    bottom: -1px;
    cursor: pointer;
}

.initial-playlist-playing-now {
    color: white;
    font-family: 'Kumbh Sans', sans-serif;
    position: absolute;
    left: 45px;
}

.initial-navigation {
    flex: 1;
    display: flex;
    background-color: white;
}

.initial-playlist-bar {
    display: flex;
    flex-direction: column;
    background-color: var(--banner-background);
    width: 220px;
    height: calc(100vh - 105px);
}

.initial-main {
    background-color: var(--background-gray);
    flex: 1;
    height: calc(100vh - 105px);
}

.initial-playlist-bar-my {
    color: white;
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 300;
    display: flex;
    align-items: center;
    padding: 15px 20px;
}

.initial-playlist-bar-my-top {
    color: white;
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 300;
    display: flex;
    align-items: center;
    padding: 15px 20px;
    border-bottom: 1px dashed white;
}

.initial-playlist-bar-my:hover {
    background-color: var(--banner-background-darker);
}

.initial-playlist-list {
    flex: 1;
    overflow: auto;
}

.initial-playlist-list::-webkit-scrollbar {
    width: 10px;
}

.initial-playlist-list::-webkit-scrollbar-thumb {
    background: var(--background-gray-lighter);
}

.initial-search-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding-right: 20px;
}

.initial-profile {
    padding-left: 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.initial-profile-name {
    color: white;
    font-family: 'Kumbh Sans', sans-serif;
    margin-left: 10px;
}

.initial-profile-pic {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background-position: center;
    background-size: cover;
}

.initial-search {
    width: 150px;
    height: 25px;
    border-radius: 50px;
    border: 0;
    outline: none;
    padding-left: 10px;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 12px;
    margin-right: 10px;
}

.initial-search-button {
    height: 25px;
    width: 25px;
    border-radius: 20px;
    background-color: var(--banner-background);
    border: 0;
    outline: none;
    cursor: pointer;
}

.initial-content {
    height: calc(100% - 60px);
    padding: 20px;
    flex-wrap: wrap;
    overflow: auto;
    z-index: 1;
}

.initial-content-title {
    color: white;
    font-family: 'Kumbh Sans', sans-serif;
    padding: 10px;
    padding-left: 25px;
}

.initial-content-musics {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.initial-content::-webkit-scrollbar {
    width: 10px;
}

.initial-content::-webkit-scrollbar-thumb {
    background: #888;
}

.initial-content-title {
    color: white;
}

.initial-playlist-controls-and-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.initial-playlist-progress-bar {
    display: flex;
    margin-top: 10px;
    align-items: center;
}

.initial-playlist-progress-bar-bar {
    width: 200px;
    height: 4px;
    background-color: white;
    margin-top: 10px;
    border-radius: 20px;
    background-color: var(--banner-background);
    margin: 0 15px;
    position: relative;
    bottom: 2px;
}

.initial-playlist-progress-bar-info {
    color: white;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 10px;
}

.initial-playlist-brogress-bar-ball {
    background-color: white;
    width: 6px;
    height: 6px;
    position: absolute;
    top: -1px;
    right: 0;
}