.login-container-resetpassword {
    display: flex;
    flex-direction: row;
    flex: 1;
}
.arrow-back {
    position: absolute;
    top: 50px;
    left: 20px;
    cursor: pointer;
}

/* Chrome, Safari, Edge, Opera */
input.inputnumber::-webkit-outer-spin-button,
input.inputnumber::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input.inputnumber[type=number] {
  -moz-appearance: textfield;
}