.initial-playlist-list-item {
    height: 50px;
    color: white;
    font-family: 'Kumbh Sans', sans-serif;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.initial-playlist-list-item-name {
    height: 100%;
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.delete-playlist {
    height: 100%;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.initial-playlist-list-item-name:hover {
    background-color: var(--banner-background-darker);
}

.delete-playlist:hover {
    background-color: var(--banner-background-darker);
}