.music-container {
    display: flex;
    padding: 10px;
    flex-direction: column;
    margin-left: 20px;
    margin-bottom: 20px;
    cursor: pointer;
}

.music-container:hover {
    background-color: var(--background-gray-lighter);
}

.music-thumb {
    width: 200px;
    height: 200px;
    background-color: white;
    background-size: cover;
    background-position: center;
}

.music-title {
    color: white;
    font-family: 'Kumbh Sans', sans-serif;
    margin-top: 20px;
}

.music-author {
    font-family: 'Kumbh Sans', sans-serif;
    color: white;
    font-weight: 300;
    margin-top: 10px;
}