.windowModal {
    z-index: 1;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}

.windowBox {
    position: absolute;
    background-color: var(--background-gray-lighter);
    width: 200px;
    -webkit-box-shadow: 0px 0px 23px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 23px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 23px 0px rgba(0,0,0,0.75);
}

.windowBox-option {
    color: white;
    font-family: 'Kumbh Sans', sans-serif;
    padding: 15px;
    cursor: pointer;
    position: relative;
}

.windowBox-option:hover {
    background-color: var(--background-gray-lighter-than);
}